  <div id="adminpage" ng-controller="adminController">
    <div class="top-bar">
        Admin:
        <span>
            {{user}}
        </span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>
        <multiselect ng-model="selection" options="options" show-select-all="true" show-unselect-all="true">
        </multiselect>
<!--         <button class="btn btn-primary" id="myBtn" ng-click="toggleModal()">
            Online Users
        </button> -->
    </div>

        <div id="chat">
        <div class="msgBox container" id="messageContainer">
        <div class="col-xs-12" id="messages">
            <div id="msg_{{$index}}" ng-repeat="msg in messages">
                <blockquote>
                    {{msg.sender}} : {{msg.message}}
                    <small>
                        {{msg.time}}
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
    <form>
        <div class="footer">
            <div class="container">
                <input ng-model="messageInput" placeholder="Type the message..." size="55" type="text"/>
                <button class="btn btn-primary sendbutton" ng-click="sendMessage(messageInput)">
                    Send
                </button>
            </div>
        </div>
    </form>
    </div>


  <div class="chat_box">
    <div class="chat_head" ng-click="chat_boxClick = !chat_boxClick">Online Users</div>
    <div class="chat_body" ng-show="chat_boxClick"> 
    <div class="user" ng-repeat="onlineUser in onlineUsers" ng-click="chatbox(user)">{{onlineUser}}</div>
    </div>
  </div>

<div class="msg_box" style="right:290px" ng-show="msg_boxClick">
    <div class="msg_head" ng-click="msg_wrap = !msg_wrap">{{clickedUser}}
    <div class="close" ng-click="msg_boxClick = !msg_boxClick; msg_wrap = !msg_wrap ">x</div>
    </div>
    <div class="msg_wrap" ng-show="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">This is from A   </div>
            <div class="msg_b">This is from B   </div>
            <div class="msg_a">sdjhlksdhfjsdcmsnbmn </div> 
            <div class="msg_push"></div>
        </div>
    <div class="msg_footer"><input class="msg_input" rows="4" placeholder="Enter your Message"></div>
</div>
</div>



    
</div>
