  <div id="adminpage" ng-controller="adminController">
    <div class="top-bar">
        Admin:
        <span>
            {{user}}
        </span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>

    </div>

        <div id="chat" ng-if="user == 'Ashik'">
        <div class="msgBox container" id="messageContainer">
        <div class="col-xs-12" id="messages">
            <div id="msg_{{$index}}" ng-repeat="msg in messages">
                <blockquote>
                    {{msg.sender}} : {{msg.message}}
                    <small>
                        {{msg.time}}
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
<!--     <form>
        <div class="footer">
            <div class="container">
                <input ng-model="messageInput" placeholder="Type the message..." size="55" type="text"/>
                <button class="btn btn-primary sendbutton" ng-click="sendMessage(messageInput)">
                    Send
                </button>
            </div>
        </div>
    </form> -->
    </div>

    
  <div class="chat_box">
    <div class="chat_head" ng-click="chat_boxClick = !chat_boxClick">Online Users</div>
    <div class="chat_body" ng-show="chat_boxClick"> 
    <div class="userdivtop"><i class="fa fa-check-square fa-lg select-all pull-right" aria-hidden="true" ng-click="selectall()"></i><i class="fa fa-times fa-lg select-none pull-right" aria-hidden="true" ng-click="selectnone()"></i></div>
    <div class="userdiv" ng-repeat="user in onlineUsers" ng-click="chatbox(user)">{{user}}
    <div class="tick pull-right" ng-click="selection(user)"><i class="fa fa-check pull-right" aria-hidden="true" ng-show="userObj.{{user}}.selected"></i></div> 
    </div>
    </div>
  </div>

<!-- first chat div- -->
      <div class="msg_box" style="right:290px" ng-show="msg_boxClick[0]">
        <div class="msg_head" ng-click="msg_wrap[0] = !msg_wrap[0]">{{clickedUser[0]}}
        <div class="close" ng-click="close(0)">x</div>
        </div>
        <div class="msg_wrap" ng-show="msg_wrap[0]">
            <div class="msg_body">
                <div class="msg_a">This is from A   </div>
                <div class="msg_b">This is from B</div>
                <div class="msg_a">shdajsdgfahsdjhsdjfhgas</div> 
                <div class="msg_push"></div>
            </div>
        <div class="msg_footer"><textarea class="msg_input" ng-keypress="inputMessage($event,clickedUser[0],0)" rows="4" placeholder="Enter your Message" ng-model="message[0]"></textarea></div>
    </div>
    </div>


<!-- Second chat div -->
    <div class="msg_box msg_box2" style="right:560px" ng-show="msg_boxClick[1]">
        <div class="msg_head" ng-click="msg_wrap[1] = !msg_wrap[1]">{{clickedUser[1]}}
        <div class="close" ng-click="close(1)">x</div>
        </div>
        <div class="msg_wrap" ng-show="msg_wrap[1]">
            <div class="msg_body">
                <div class="msg_a">This is from A   </div>
                <div class="msg_b">This is from B</div>
                <div class="msg_a">shdajsdgfahsdjhsdjfhgas</div> 
                <div class="msg_push"></div>
            </div>
        <div class="msg_footer"><textarea class="msg_input" ng-keypress="inputMessage($event,clickedUser[1],1)" rows="4" placeholder="Enter your Message" ng-model="message[1]"></textarea></div>
    </div>
    </div>
    
    
<!-- third chat div -->
    <div class="msg_box msg_box3" style="right:830px" ng-show="msg_boxClick[2]">
        <div class="msg_head" ng-click="msg_wrap[2] = !msg_wrap[2]">{{clickedUser[2]}}
        <div class="close" ng-click="close(2)">x</div>
        </div>
        <div class="msg_wrap" ng-show="msg_wrap[2]">
            <div class="msg_body">
                <div class="msg_a">This is from A   </div>
                <div class="msg_b">This is from B</div>
                <div class="msg_a">shdajsdgfahsdjhsdjfhgas</div> 
                <div class="msg_push"></div>
            </div>
        <div class="msg_footer"><textarea class="msg_input" ng-keypress="inputMessage($event,clickedUser[2],2)" rows="4" placeholder="Enter your Message" ng-model="message[2]"></textarea></div>
    </div>
    </div>
        
</div>
