  <div id="adminpage" ng-controller="adminController">
    <div class="top-bar">
        Admin:
        <span>
            {{user}}
        </span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>

    </div>

        <div id="chat">
        <div class="msgBox container" id="messageContainer">
        <div class="col-xs-12" id="messages">
            <div id="msg_{{$index}}" ng-repeat="msg in messages">
                <blockquote>
                    {{msg.sender}} : {{msg.message}}
                    <small>
                        {{msg.time}}
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
    <form>
        <div class="footer">
            <div class="container">
                <input ng-model="messageInput" placeholder="Type the message..." size="55" type="text"/>
                <button class="btn btn-primary sendbutton" ng-click="sendMessage(messageInput)">
                    Send
                </button>
            </div>
        </div>
    </form>
    </div>

    /*=======================================
    =            second chat div            =
    =======================================*/
    <div class="msg_box msg_box2" style="right:560px" ng-show="msg_boxClick">
        <div class="msg_head" ng-click="msg_wrap = !msg_wrap">{{clickedUser}}
            <div class="close" ng-click="msg_boxClick = !msg_boxClick; msg_wrap = !msg_wrap ">x</div>
        </div>
    <div class="msg_wrap" ng-show="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">This is from A   </div>
            <div class="msg_b">This is from B   </div>
            <div class="msg_a">sdjhlksdhfjsdcmsnbmn </div> 
            <div class="msg_push"></div>
        </div>
    <div class="msg_footer"><input class="msg_input" rows="4" placeholder="Enter your Message"></div>
    </div>
    </div>
    
    /*=====  End of second chat div  ======*/

    /*======================================
    =            third chat div            =
    ======================================*/
    <div class="msg_box msg_box3" style="right:830px" ng-show="msg_boxClick">
        <div class="msg_head" ng-click="msg_wrap = !msg_wrap">{{clickedUser}}
            <div class="close" ng-click="msg_boxClick = !msg_boxClick; msg_wrap = !msg_wrap ">x</div>
        </div>
    <div class="msg_wrap" ng-show="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">This is from A   </div>
            <div class="msg_b">This is from B   </div>
            <div class="msg_a">sdjhlksdhfjsdcmsnbmn </div> 
            <div class="msg_push"></div>
        </div>
    <div class="msg_footer"><input class="msg_input" rows="4" placeholder="Enter your Message"></div>
    </div>
    </div>
    
    
    /*=====  End of third chat div  ======*/
    
    
    


  <div class="chat_box">
    <div class="chat_head" ng-click="chat_boxClick = !chat_boxClick">Online Users</div>
    <div class="chat_body" ng-show="chat_boxClick"> 
    <div class="userdivtop"><i class="fa fa-check-square fa-lg select-all pull-right" aria-hidden="true" ng-click="selectall()"></i><i class="fa fa-times fa-lg select-none pull-right" aria-hidden="true" ng-click="selectnone()"></i></div>
    <div class="userdiv" ng-repeat="user in onlineUsers" ng-click="chatbox(user)">{{user}}
    <div class="tick pull-right" ng-click="selectiontick(user)"><i class="fa fa-check pull-right" aria-hidden="true" ng-show="userObj.{{user}}.selected"></i></div> 
    </div>
    </div>
  </div>

<div class="msg_box" style="right:290px" ng-show="msg_boxClick">
    <div class="msg_head" ng-click="msg_wrap = !msg_wrap">{{clickedUser}}
    <div class="close" ng-click="msg_boxClick = !msg_boxClick; msg_wrap = !msg_wrap ">x</div>
    </div>
    <div class="msg_wrap" ng-show="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">This is from A   </div>
            <div class="msg_b">This is from B   </div>
            <div class="msg_a">sdjhlksdhfjsdcmsnbmn </div> 
            <div class="msg_push"></div>
        </div>
    <div class="msg_footer"><input class="msg_input" rows="4" placeholder="Enter your Message"></div>
</div>
</div>



    
</div>
